<h2>{{'hello'|translate}}</h2>
<h1>Product List</h1>
<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <!--     <th>NAME<input class="form-control" [(ngModel)]="item"></th> -->
      <th>description</th>
      <th>price</th>
      <th>Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of produit ">
      <td>{{item.title}}</td>

      <td>{{item.description}}</td>
      <td>{{item.price}}</td>
      <td>{{item.product_type}}</td>
      <td> <button type="button" class="btn btn-warning" (click)="gestion(item._id)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="delete(item._id)">Delete</button></td>

    </tr>
  </tbody>
</table>